footer{
    height: 30vh;
    background-color: var(--tertiary-color-transparant);
    margin-block-start: var(--margin-xlarge);
}

.footer__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer__column{
    width: 30%;
    margin-inline-start: 10%;
}

.footer__first_column a{
    display: inline;
}

.footer__logo{
    width: 100%;
    margin: 0 auto;
}