.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--tertiary-color-transparant);
  align-items: center;
  
}
  
a {
  color: white;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  padding: 2%;
}
  
a:hover {
  background-color: var(--primary-color);
}

.logo__navigation{
  width: 4%;
}