.projects__showreel{
    padding: 10%;
}

.projects__showreel__title{
    font-family: var(--title-font);
    font-size: var(--font-size-large);
    color: var(--primary-color);
    margin-bottom: var(--margin-medium);
    text-align: center;
}